.product-section {
    height: 100vh;
    max-height: 60em;
    flex-direction: column;
    position: relative;
    border: 1px solid green;
}
.product-section-container{
    max-width: 80em !important;
    position: relative;
}

.product-section-landingpage>div:nth-child(1){
    height: 80%;
    width: 100vw;
}
.product-section-landingpage>div:nth-child(2){
    height: 20%;
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.product-section-landingpage>div:nth-child(2) button{
    padding: 0 2em;
}

/* .product-section > div {
    display: grid;
    place-items: center;
    gap: 0;
} */