.dashboard-containter::before{
    position: absolute;
    top: 2em;
    background-color: #e3bd9b;
    width: 100%;
    height: 5px;
    content: '';
}

.dashboard-containter{
    position: relative;
    min-height: 20rem;
}

.dashboard-table {
    width: 100%;
}
