.classicteeSection{
    position: relative;
    padding-block: 3em 0.5em;
    background-size: cover;
    background-attachment: fixed;
    transition: 1s;
    background-repeat: no-repeat;
    transition-timing-function: ease-in;
    flex-direction: row-reverse;
    gap: 2em;
    background-position: center;
}

.classicteeSection .classicteeSection-description {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 30em;
    align-self:flex-end;
    padding: 2em;
    color: rgb(221, 216, 216)
}
.classicteeSection-description-title{
    color: white;
}

@media screen and (max-width: 645px) {
    .classicteeSection{
        flex-direction: column;
    }
    .classicteeSection .classicteeSection-description {
        text-align: center;
        justify-content:center ;
        align-self:center;
    }
}
.classicteeSection::before {
    content: "";
    background-color: rgba(55, 55, 55, 0.5);
    position: absolute;
    left: 0; right: 0;
    width: 100%; height: 100%;
}

.classic-buttonsetting{
    position:absolute;
    bottom: 5em;
    left: 5em;
}

.classictee-slider {
    background-color: grey;
    display: flex;
    align-items: center;
    height: 40em;
    width: 100%;
    max-width: 24em;
    position: relative;
    overflow: hidden;
}

.classicSliderImage {
    position: absolute;
    align-self: flex-start;
    display: flex;
    height: 100%;
    background-color: lightblue;
    transition-timing-function: ease-in;
    transition: 1s;
}

.classicImage {
    overflow: hidden;
    position: relative;
    width: 24em;
}

.classicImage img {
    width: auto;
    height: 100%;
}

.classic-image {
    width: auto;
    height: 100%;
}