
.offerSection > h1 {
    color: black;
    
}

.offerSection-box {
    height: 21em;
    width: 13em;
    margin-bottom: 2em;
    border-radius: 1em;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;

}

