.menu-loginform {
  position: relative;
}

.loginform {
  position: relative;
  z-index: 99;
  justify-self: center;
  align-self: center;
  padding: 0 1em;
  overflow: hidden;
}

.loginform .error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.user-container {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background-color: rgb(181, 181, 181);
}

/* .user-container .hbomb-logo {
  position: absolute;
} */

.user-profile .logo {
  fill: rgb(129, 129, 129);
}

.loginform-loadingpage{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 7;
}
.loginform-loadingpage:before{
  background-color: rgba(16, 16, 16, 0.228);
  position: absolute;
  width: 100%;
  height: 100vh;
  content: '';
}

.user-profile .ant-space-item:nth-child(4){
  width: 100%;
}