@import '~antd/dist/antd.less';
:root {
    --primary: #e3bd9b;
    --secondary: #3d3d3d;
    --bg: #ebebeb;
    --bgshade: rgba(0, 0, 0, 0.234);
    --primaryspeed: 0.3s;
}
.App {
    position: relative;
}

.allbg {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -99;
    max-width: 100%;
}

.allbg svg {
    position: absolute;
    width: 100%;
    height: 100vh;
}


.bgBot {
    bottom: 0;
    width: 100vw;
}

.default-button {
    text-decoration: none;
    border-radius: 0.3em;
    text-align: center;
    border: None;
}

.header-button {
    color: white;
    background-color: #e3bd9b;
    padding: 1em 2em;
    font-size: 3.5vh;
    margin: 1em;
}

.header-logo-size {
    width: 80vw;
    max-width: 25em;
}

.header-logo {
    fill: #e3bd9b;
}

.bgViolet {
    background-color: var(--nude);
}

.bgleft {
    border-radius: 0 2em 2em 0;
    width: 95vw;
}

.bgright {
    border-radius: 2em 0 0 2em;
    width: 95vw;
    right: 0;
}

.positionRelative {
    position: relative;
    overflow-x: clip;
}

.bgImage {
    background-attachment: fixed;
    background-color: var(--testbgimg);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-self-center {
    align-self: center;
}

.absolute-center {
    margin: auto;
    left: 0;
    right: 0;
}

.hidden {
    visibility: hidden;
}

.button {
    background: none;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    height:15%;
    align-items: center;
    min-width: 3em;
}

.align-btn {
  display: flex;
  gap: 0.5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.pad-1 {
  padding: 1em;
}

.logo {
    filter: drop-shadow(1px 3px 2px rgb(0 0 0 / 0.2));
    fill: var(--primary)
}
.hbomblogo {
    min-width: 7em;
}
.loadingpage {
  max-width: 100%;
  height: 100vh;
  position: absolute;
  width: 100vw;
  background-color: var(--primary);
  flex-direction: column;
  transition: 0.4s;
  transition-timing-function: ease-out;
  overflow: hidden;
  z-index: 99;
}
.loadingpage .logo{
    fill: white;
    height: 5em;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

 .title{
  font-size: 1.8em;
  font-weight: 500;
 }

  .image {
    position:absolute;
    width: 100%;
  }

  .image-cover {
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .error-message {
    color: rgb(255, 99, 99);
    text-align: center;
  }

@media only screen and (min-width: 600px) {
  .web-left {
    align-self: flex-end;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
    
    /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1; 
  }
    
    /* Handle */
  ::-webkit-scrollbar-thumb {
      background: var(--primary); 
  }
}

  .box-shadow-default {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .box-shadow-solid {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

.gradient-store-background {
  background: rgb(227,189,155);
  background: linear-gradient(170deg, rgba(227,189,155,1) 16%, rgba(194,129,129,1) 51%, rgba(244,160,160,1) 85%, rgba(255,195,195,1) 100%);
}

.grid-center {
  display: grid;
  place-items: center;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.padding-1em {
  padding: 1em;
}

.bg-white {
  background-color: white;
}

.roundcorner-1em {
  border-radius: 1em;
}

.fullpage-center {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.fontz-xxl {
  font-size: xx-large;
}

.fontz-l {
  font-size: large;
}

.clr-primary {
  color: var(--primary);
}

.gap-1 {
  gap: 0.5em;
}

.clr-darklight {
  color:#3d3d3d;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.grid-2col-start-center {
  display: grid;
  grid-template-columns: auto auto;
  place-items: start center;
}

.grid-1col-center-end {
  display: grid;
  place-items: center end;
}

.grid-1col-end-start {
  display: grid;
  place-items: end start;
}

.grid-2col-center-start{
  display: grid;
  place-items: center start;
  grid-auto-flow: column;
}

.grid-2col {
  display: grid;
  grid-template-columns: auto auto;
}

.flex-center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mg-1 {
  margin: 2em;
}

.pd-top-1 {
  padding-top: 1em;
}