
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (min-height: 600px) {
    .web-navbar {
        display: flex;
    }

    .defaultNav > button, .defaultNav > .hbomblogo{
        display: none;
    }

    .charts  {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 0;
        grid-column: span 2;
        gap: 0;
    }

    .dashboard {
        grid-template-columns: auto auto;
    }

    .dashboard-child {
        min-height: 25em;
        overflow: hidden;
    }

    .dashboard-container {
        /* display: flex;
        width: 100%; */
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}